.dropdown {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.dropdown:hover .dropdown__menu {
  left: -62px;
  opacity: 1;
}

.dropdown__menu {
  position: absolute;
  background: #EDEDED;
  width: 157px;
  height: 69px;
  color: #1E1F20;
  font-weight: 300;
  font-size: 13px;
  line-height: 21px;
  padding: 12px 17px;
  border-radius: 3px;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  top: 100%;
  left: -9999px;
}

.dropdown__menu::before {
  content: "";
  display: block;
  height: 30px;
  left: 0;
  right: 0;
  top: -29px;
  position: absolute;
}

.dropdown__menu::after {
  content: " ";
  position: absolute;
  border: 12px solid transparent;
  border-bottom-color: #EDEDED;
  border-top-width: 0;
  top: -11px;
  right: 40px;
}

.dropdown__item {
  float: left;
}

.dropdown__item--u {
  font-weight: bold;
}